<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trigger_context"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.trigger.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service android:name="com.trigger_context.Network_Service" />
        <service android:name="com.trigger_context.Main_Service" />

        <activity
            android:name="com.trigger_context.Main_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trigger_context.Device_Activity"
            android:label="@string/title_activity_device_" >
        </activity>
        <activity
            android:name="com.trigger_context.Conditions_Config"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.Action_Config"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Send_Sms"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Send_Email"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Toggles"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Post_Tweet"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Open_Url"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Server_Cmd"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_File_Select"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Set_Send_Msg"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Action_Email_Client"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Action_Open_Url"
            android:label="@string/app_name" />
        <activity
            android:name="com.trigger_context.conf.Action_Post_Tweet"
            android:label="@string/app_name" />

        <receiver android:name="com.trigger_context.On_Network_Change" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.trigger_context.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.trigger_context.ConfiguredUsers"
            android:label="@string/title_activity_configured_users" >
        </activity>
        <activity
            android:name="com.trigger_context.AddUser"
            android:label="@string/title_activity_add_user" >
        </activity>
    </application>

</manifest>